/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

 /* Element Selectors */
body {
    text-align: center;
}

section {
    padding:10%;
}

nav {
    padding:15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

p {
    color: #5f6c7b
}
 
 h1 {
    font-size: 30px;
    font-size: 3vw;
    font-weight: bold;
    color: #094067;
 }

 h2 { 
    font-size: 1.5vw;
    font-weight: normal;
    padding: 50px 0 50px 0;
    line-height: 30px;
    color: #5f6c7b
 }

 hr {
    margin-top: 10px;
 }

 button {
    background-color: #3da9fc;
    border-radius: 10px;
    padding: 10px;
    color: #fffffe;
    width:150px;
    margin:5px;
 }
 button:hover {
    box-shadow: 0 12px 16px 0 #ef4565, 0 17px 50px 0 rgba(0,0,0,0.19);
  }

 /* Class Selectors */
 

 /* ID Selectors */
#Quiz {
   text-align: left;
   padding-top: 30px;
}

#Quiz, #mission-complete, #save-states {
    display:none;
}

 #timer {
    float: right;
 }

 #score, #save-line {
    padding: 5px 0 5px 0;
 }

 #save-area {
    width:50px;
    height:15px;
    font-size: 12px;
    color: #ef4565;
 }

 #next {
   /* display:none; */
   background-color: #90b4ce;
 }